.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navBar{
  color: whitesmoke;
  opacity: 70%;
}

#entryField{
  background-color: #212529;
  opacity: 90%;
  border-radius: 10%;
  width: 320px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: whitesmoke;
  padding: 10px;
}


#entry{
  margin: 0 auto;
  margin-top: 2rem;
  width: 70%;
  border: 1px solid white;
  background-color: #212529;
  opacity: 90%;
  padding: 5px;
}